div.nav{
    width: 100%;
    height: 40px;
    background-color: #839b97;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    font-size: 2em;
    text-align: center;
}
body{
    background-color: #cfd3ce;
}

h1{
    font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    width:100%;
    color: #707070;
}

h2{
    font-family: "Rockwell Extra Bold","Rockwell Bold",monospace
    width: 150%;
    margin: 0 auto;
    color: #222831
}

.biografi{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
    color: #222831;
}

.edukasi{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
    color: #222831;
}

.award{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
    color: #222831;
}

.kontak{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
    color: #222831;
}

.h3{
    color: #706897;
    background-color: #fceef5;

p{
    font-family: 'Noto Serif', serif;
}

em{
    color: blue;
}

@media screen and (max-width:400px){
    div.nav{
        font-size: 1em;
    }
    .award{
        font-size: 2em;
    }
    .biografi{
        font-size: 2em;
    }
    .edukasi{
        font-size: 2em;
    }
    .kontak{
        font-size: 2em;
    }
}
